<h2><a routerLink="/" routerLinkActive="active">BASIC Input property from father to child</a></h2>
<h2><a routerLink="/secondExample" routerLinkActive="active">Passing data from father to child and gettin them in get and set method
</a></h2>
<h2><a routerLink="/thirdExample" routerLinkActive="active">Parent changing data child with click event and NgOnChanges</a></h2>
<h2><a routerLink="/fourthExample" routerLinkActive="active">Parent listen to child event</a></h2>
<h2><a routerLink="/fithExample" routerLinkActive="active">Parent interacts with child via local variable</a></h2>
<h2><a routerLink="/sixthExample" routerLinkActive="active">Correct from in order to Parent can interacts with child @ViewChild()</a></h2>
<h2><a routerLink="/seventhExample" routerLinkActive="active">Interaction with observable in service</a></h2>